@model Utils.Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@if (!User.Identity.IsAuthenticated)
{
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">log in pls</a>
}
else
{
    <p>adding book...</p>
    <br>
    <div class="form-group">
           <form asp-controller="Book" asp-action="Store" method="post">
                   <input asp-for="Title" type="text" name="title" placeholder="Title"/><br>
                   <input asp-for="Description" type="text" name="description" placeholder="Description"/><br>
                   <input type="submit" value="Add"/>
               </form>
       </div>
}